.footer-container {
    background-color: #f8f9fa;
    padding-top: 5px;
    padding: 5px 20px;
}

.footer-item {
    margin-top: 15px;
}

.footer-link {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    letter-spacing: 5px;
    color: #ED820E !important;
}

.footer-heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}


.bg-colour {
    padding: 2px 2px;
    background-color: #ED820E;
    color: #f8f9fa;
}

.lucide-instagram {
    /* background-color: #ED820E; */
    color: #ED820E;
}

/* Dark theme styles */
:root[class~="dark"] .footer-container {
    background-color: #1a1a1a !important;
}

:root[class~="dark"] .footer-link {
    color: #f8f9fa;
}

:root[class~="dark"] .footer-heading {
    color: #f8f9fa !important;
}

:root[class~="dark"] .lucide-instagram {
    /* background-color: #ED820E; */
    color: #ED820E;
}

@media (max-width: 576px) {
    .footer-end {
        font-size: 1rem;
    }
}