/* Base styles */
.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 2rem;
    background-color: white;
}

.btn-navbar {
    display: inline-block;
    width: auto;
    overflow: hidden;
}

.nav-link {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: black !important;
}

.nav-link:hover {
    color: #ED820E !important;
}

.dropdown-menu {
  display: none;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.navbar-brand img{
    width: 50px !important;
    height: 50px !important;
    transition: width 0.3s ease, height 0.3s ease;
}

.dropdown-item:hover {
    color: #ED820E !important;
}

.navbar-brand {
    margin-left: 10%;
}

.brand-title {
    font-family: open sans-serif;
}

.brand-color {
    color: #ED820E;
}

/* Button styles */
.btn-nav-visible,
.btn-nav-hidden {
    color: rgb(59, 59, 59) !important;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
    /* font-weight: 900; */
    font-size: 1.5rem;
    /* font-weight: bold; */
    white-space: nowrap;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-nav-hidden:hover {
    color: #ED820E !important;
}

.btn-nav-visible {
    transform: translateY(50%);
    opacity: 1;
    z-index: 2;
}

.btn-nav-hidden {
    transform: translateY(90%);
    opacity: 0;
    z-index: 1;
}

.btn-navbar:hover .btn-nav-visible {
    transform: translateY(0);
    opacity: 0;
}

.btn-navbar:hover .btn-nav-hidden {
    transform: translateY(-50%);
    opacity: 1;
}

/* Responsive styles */
@media (max-width: 992px) {
    .navbar-brand img {
        width: 80px;
        height: 80px;
    }

    .navbar-brand {
        margin-left: 5%;
    }

    .custom-nav {
        gap: 1rem;
    }

    .nav-link {
        font-size: 1.2rem !important;
    }

    .btn-nav-visible,
    .btn-nav-hidden {
        font-size: 1.2rem;
    }

    .navbar-collapse {
        background-color: white;
        padding: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-navbar {
        text-align: left;
    }

    .custom-toggler{
        border: none !important;
        background: transparent !important;
    }
}

@media (max-width: 768px) {

    .navbar-brand img {
        width: 60px;
        height: 60px;
    }

    .navbar-brand {
        margin-left: 2%;
    }

    .brand-title {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1rem !important;
    }

    .btn-nav-visible,
    .btn-nav-hidden {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        width: 50px;
        /* Smallest size */
        height: 50px;
        /* Smallest size */
    }

    .brand-title {
        font-size: 1rem;
    }
}


/*Dark Theme*/

:root[class~="dark"] .custom-nav{
    background-color: #121212 !important;
    color: white;
}

:root[class~="dark"] .nav-link {
    color: white !important;
}

:root[class~="dark"] .btn-nav-visible {
    color: rgb(255, 255, 255) !important;
}

:root[class~="dark"] .brand-title {
    color: white;
}

:root[class~="dark"] .navbar-toggler-icon{
    background-color: #ED820E;
    border-radius: 3px;
}

:root[class~="dark"] .navbar-collapse.collapse.show,
:root[class~="dark"] .navbar-collapse.collapsing{
  background-color: #121212 !important;
  color: white !important;
}

:root[class~="dark"] .dropdown-menu.show,
:root[class~="dark"] .dropdown-menu,
:root[class~="dark"] .dropdown-item{
    background-color: black;
    border-color: #e5e7eb; 
    color: white !important;
}

:root[class~="dark"] .dropdown-item:hover{
    /* background-color: #343a40 !important; */
    color: #ED820E !important;
}

:root[class~="dark"] .nav-link:hover,
:root[class~="dark"] .btn-nav-hidden:hover{
    color: #ED820E !important;
}